@import '~bootstrap/dist/css/bootstrap.css';



.elenco{
    background-color: #ffff99;
    width: 50%;
     margin: 5% 25%;
}

.row{
    
    background-color: #66ffff;
    
}
body{
  background-color: #66ffff;
    
}